.range-box {
    width: 300px;
}

.range {
    position: relative;
    height: 3px;
    background: #f2f2f2;
}

.range__input::-webkit-slider-thumb {
    width: 22px;
    height: 22px;
}

.range__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    position: absolute;
    z-index: 5;
    background: none;
    opacity: 0;
    cursor: pointer;
    height: 40px;
    left: 0px;
    top: -20px;
    line-height: 40px;
}

.range__track {
    position: absolute;
    height: 100%;
    background: #5db6ef;
    display: block;
    z-index: 2;
}

.range__track:after {
    width: 22px;
    height: 22px;
    position: absolute;
    content: '';
    right: 0px;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    z-index: 6;
    background: #fff;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7.84px 0.16px rgba(0, 0, 0, 0.2);
    margin-right: -10px;
}

.range-val {
    color: #333333;
    position: absolute;
    right: 0;
    margin-right: -50px;
    bottom: -30px;
    background-color: #fff;
    font-size: 16px;
    width: 100px;
    text-align: center;
}

.min_val_range {
    position: absolute;
    left: 0;
    bottom: -30px;
    color: #aaaaaa;
    font-size: 16px;
}

.max_val_range {
    position: absolute;
    right: 0;
    color: #aaaaaa;
    bottom: -30px;
    font-size: 16px;
}